<div>
  <h1><%= @workshop.title %></h2>
  <p>Info page: <%= @workshop.info_page %></p>
  <p>Form page: <%= @workshop.form_page %></p>
  <p>Paypal link: <%= @workshop.paypal_link %></p>
</div>
    <span class="options"><%= link_to "back", :back, :class => "button" %></div>

