<h1>EPdev</h1>
<%= form_for @contact do |f| %>
  <% flash.each do |key, msg| %>
    <div><%= msg %></div>
  <% end %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.submit "Create" %>
<% end %>
