<!DOCTYPE html>
<html>
<head>
  <title>Epdev</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, msg| %>
    <h3><%= msg %></h3>
  <% end %>
<%= yield %>

</body>
</html>
